.paragraph{
    font-family: 'Quicksand', sans-serif; 
    font-optical-sizing: auto; 
    font-size: 20px; 
    font-style: normal;
    color: rgb(68, 65, 65);
}

.header {
    width: 100%;
    height: 80px;


    display: flex;
    align-items: center;
    justify-content: space-between;

    background: linear-gradient(to right, #ffe6f1, #f0e9ff);
    border-bottom: 2px solid #f5b5d7;
    border-top: 2px solid #f5b5d7;
    flex-wrap: nowrap;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    white-space: nowrap;
}

.menu {
    margin-right: 10px;
    display: flex;
}


.btn-header {
    background-color: #f0e9ff;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 20px;
    opacity: 0.5;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
    margin: 5px;
}

.btn-header:hover {
    opacity: 1.0;
    background-color: #af8ccf;
}