* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 80px;


    display: flex;
    align-items: center;
    justify-content: space-between;

    background: linear-gradient(to right, #ffe6f1, #f0e9ff);
    border-bottom: 2px solid #f5b5d7;
    border-top: 2px solid #f5b5d7;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.menu {
    margin-right: 10px;
}

.gradient{
    background: linear-gradient(to right,
        purple,
        rgb(155, 3, 155),
        rgb(179, 88, 179),
        #a855f7,
        #3b82f6,
        blue);
    background-clip: text ;
    -webkit-background-clip: text;
}

#title {
    font-size: 100px;
    color: transparent;
}



.btn-header {
    background-color: #f0e9ff;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 20px;
    opacity: 0.5;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
}

.btn-header:hover {
    opacity: 1.0;
    background-color: #af8ccf;
}

body {
    background-image: url("/static/images/background-Image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

#content {
    text-align: center;
    margin-top: 10%;
}

#btn-explore-eras {
    background-color: #e69dc5;
    border: 1px solid #ec3d9a;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    border-radius: 25px;
    margin-top: 2%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

}

