* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.gradient{
    background: linear-gradient(to right,
        purple,
        rgb(155, 3, 155),
        rgb(179, 88, 179),
        #a855f7,
        #3b82f6,
        blue);
    background-clip: text ;
    -webkit-background-clip: text;
}

#title {
    font-size: 100px;
    color: transparent;
}


body {
    background-image: url("/static/images/background-Image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

#content {
    text-align: center;
    margin-top: 10%;
}

#btn-explore-eras {
    background-color: #e69dc5;
    border: 1px solid #ec3d9a;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    border-radius: 25px;
    margin-top: 2%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

}

