<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='global.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='albums.css')}}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    
    <title>Albuns</title>
</head>
<body>
    <header class="header">
        
        <div class="logo">
            <img src="{{ url_for('static', filename='images/musical-note-header.png') }}" alt="Logo musical note" class="logo" width="64" height="64">

            <p class="gradient" style="font-size: 40px; font-style: normal; font-weight: 400;font-family: 'MonteCarlo', cursive; 
            color: transparent; padding-right: 5px" >Taylor Swift</p>
        </div>
        
            
        <nav class="menu">
            <a href="{{ url_for('index') }}" class="btn-header">Início</a>
            <a href="{{ url_for('albums') }}" class="btn-header">Álbuns</a>
            <a href="{{ url_for('favorite_songs') }}" class="btn-header">Músicas Favoritas</a>
        </nav>

        
    </header>
    <div id="content">
        <h1 id="title" class="gradient">Discografia Completa</h1>
        <p class="paragraph">Explore a jornada musical de Taylor Swift através de suas eras!✨</p>
        <div id="albums">


            <a href="{{ url_for('album_page', album='debut')}}" class="album album--debut">
                <img class="album-images" src="{{ url_for('static', filename='images/albums/debut-img.jpg')}}" alt="album debut" 
                style="border-radius: 8px;">
                <p class="paragraph" style="font-weight: bold;">Taylor Swift - Debut</p>
                <p>2006</p>

            </a>


            <a href="{{ url_for('album_page', album='fearless')}}" class="album album--fearless">
                <img class="album-images" src="{{ url_for('static', filename='images/albums/fearless-img.png')}}" alt="album fearless" >
                <p class="paragraph" style="font-weight: bold;">Fearless</p>
                <p>2008</p>
            </a>


            
            <a href="{{ url_for('album_page', album='speakNow')}}" class="album album--speaknow">
                <img class="album-images" src="{{ url_for('static', filename='images/albums/speaknow-img.jpg')}}" alt="album speaknow" >
                <p class="paragraph" style="font-weight: bold;">Taylor Swift - Speak Now</p>
                <p>2010</p>
            </a>

            <a href="{{ url_for('album_page', album='red')}}" class="album album--red">
                <img class="album-images" src="{{ url_for('static', filename='images/albums/red-img.jpg')}}" alt="album red" >
            </a>

            <a href="{{ url_for('album_page', album='nineteenEightyNine')}}" class="album album--1989">
                <img class="album-images" src="{{ url_for('static', filename='images/albums/1989-img.jpg')}}" alt="album 1989" >
            </a>

            <a href="{{ url_for('album_page', album='reputation')}}" class="album album--reputation">
                <img class="album-images" src="{{ url_for('static', filename='images/albums/reputation-img.jpg')}}" alt="album reputation" >    
            </a>


            <a href="{{ url_for('album_page', album='lover')}}" class="album album--lover">
                <img class="album-images" src="{{ url_for('static', filename='images/albums/lover-img.jpg')}}" alt="album lover" >    
            </a>

            <a href="{{ url_for('album_page', album='folklore')}}" class="album album--folklore">
                <img class="album-images" src="{{ url_for('static', filename='images/albums/folklore-img.jpg')}}" alt="album folklore" >
            </a>


            <a href="{{ url_for('album_page', album='evermore')}}" class="album album--evermore">
                <img class="album-images" src="{{ url_for('static', filename='images/albums/evermore-img.jpg')}}" alt="album evermore" >
            </a>

            <a href="{{ url_for('album_page', album='midnights')}}" class="album album--midnights">
                <img class="album-images" src="{{ url_for('static', filename='images/albums/midnights-img.jpg')}}" alt="album midnights" >
            </a>


            <a href="{{ url_for('album_page', album='TTPD')}}" class="album album--TTPD">
                <img class="album-images" src="{{ url_for('static', filename='images/albums/TTPD-img.jpg')}}" alt="album TTPD" >
            </a>

            <a href="{{ url_for('album_page', album='TLOASG')}}" class="album album--TLOASG">
                <img class="album-images" src="{{ url_for('static', filename='images/albums/TLOASG-img.png')}}" alt="album TLOASG" >
            </a>


        </div>

    </div>
</body>
</html>